modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[env]
OPENAI_API_KEY = "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"
GMAIL_APP_PASSWORD = "asfm lajk jmqj ovrh"
GMAIL_USER = "oyamatmot86@gmail.com"

[deployment]
deploymentTarget = "cloudrun"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000
